body,html{
   position: relative;
}
 .bgCanvas{
     position: absolute;
 }
 
 .bcontainer-fluid{
     position: absolute;
     z-index: 999;
 }
 .welcome{
     color: #fff;
 }
 /* upload bootstrap */
 .nav-opcity{
     background: rgba(102, 204, 204, .3);
     border: none;
 }
 .navbar-brand{
     color: #fff;
 }
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #f00;
}